@charset "UTF-8";
@font-face {
    font-family: 'Nanum';
    src: url('../resources/fonts/NanumMyeongjo.ttf') format('truetype');
}
/* 공통 스타일 */
*{margin: 0; padding: 0;}
#container{width: 90%; margin: 30px auto 100px;}
ul li{list-style: none;}
a{text-decoration: none;}
body {
	font-family: 'Nanum';
}

/* header 스타일 */
header{height: 80px; background: #0077cc;}
header #logo{width: 20%; float: left; line-height: 80px;}
#logo h1 a{color: greenyellow; padding-left: 24px; font-style: italic;}
#logo h1 a:hover{color: #eee;}
header nav{width: 70%; float: right;}
#topMenu{line-height: 80px; padding-left: 150px;}
#topMenu li{float: left; margin: 0 20px;}
#topMenu li a{color: #eee; padding: 0 20px;}
#topMenu li a:hover{color: #444;}

/* main 스타일 */
#main{width: 1000xp; height: 600px; margin: 40px auto;}
#main h1{color: blue; font-style: italic; padding: 20px 60px;}
#main .main_img{margin: 16px 30px; float: left;}
#main .main_img img{border-radius: 5px;}
#main .newboard{margin: 20px;}
#main .newboard h3{margin: 20px;}
#main .newboard p{line-height: 2.5;}

/* footer 스타일 */
footer{height: 80px; border-top: 2px solid #222; clear: both;}
#bottomMenu{margin: 10px 20px;}
#bottomMenu li{float: left; margin: 10px 0; padding: 0 10px;
	border-right: 1.5px solid #ccc;}
#bottomMenu li a{color: #444;}
#bottomMenu li:last-child{border: none;}

/* 회원 목록 스타일 */
#memberlist{width: 750px; margin: 20px auto;}
#memberlist .logout{text-align: right;}
#memberlist table{width: 750px; margin: 20px auto;}
#memberlist table, th, td{border: 1px solid #ccc; 
  border-collapse: collapse; text-align: center;}
table th, td{padding: 10px;}

/* 회원 가입 스타일 */
#join{width: 500px; margin: 20px auto;}
#join form{margin: 20px auto;}
form ul li{margin: 20px;}
form .button{margin-top: 16px;}
form .button button{padding: 10px;}
form label{width: 120px; float: left; padding-left: 20px;}
form input{padding: 5px;}
#join button{padding: 5px;}

/* 회원 정보 스타일 */
#memberview{width: 460px; margin: 20px auto;}
#memberview table{width: 460px; margin: 20px auto;}
#memberview table, th, td{border: 1px solid #ccc; 
  border-collapse: collapse; text-align: center;}
#memberview button{padding: 5px;}

/* login 스타일 */
#login {width: 400px; margin: 30px auto 100px;}
#login form{margin: 30px auto;}
#login form ul li{margin: 30px;}
#login .error{color: #e00; margin-top: 16px; font-size: 0.9em}
#login button{width: 100%; padding: 10px 0;}

/* 게시글 목록 스타일 */
#boardlist{width: 1000px; margin: 20px auto; padding: 50px; background-color: #EDEDED; border-radius: 30px;}
#boardlist table{width: 1000px; margin: 20px auto; background-color: #CAC8c8; border-radius: 20px;}
#boardlist table, th, td{text-align: center;}
#boardlist button{padding: 10px;}

/* 글쓰기 스타일*/
#writeform{width: 550px; margin: 20px auto;}
#writeform table{width: 550px; margin: 20px auto;}
#writeform table, th, td{border: 1px solid #ccc; 
  border-collapse: collapse; text-align: center;}
table th, td{padding: 10px;}
#writeform input{width: 540px; height: 25px; padding: 5px;}
#writeform textarea{width: 540px; height: 300px; padding: 5px; resize: none;}
#writeform button{padding: 5px;}

/* 글 상세보기 스타일 */
#boardview{
	width: 650px; 
	margin: 20px auto; 
	padding: 50px; 
	background-color: #EDEDED; 
	border-radius: 30px;
}
#boardview table{
	width: 550px; 
	margin: 30px auto; 
	padding: 20px; 
	background-color: #CAC8c8; 
	border-radius: 20px;
}
#boardview table, th, td{border: none; text-align: center;}
#boardview input{width: 550px; height: 25px; padding: 5px;}
#boardview textarea{width: 550px; height: 300px; padding: 5px; resize: none;}
#boardview button{padding: 5px;}
#writer{text-align: left;}

/* 댓글 영역 스타일 */
#boardview h3{margin-bottom:10px;}
#boardview .reply{border-top: 1px dotted #ccc; margin: 10px;}
#boardview .reply p{margin: 10px 0; font-size: 0.9em; color: #444;}
#boardview .reply p:nth-of-type(1){white-space: pre-line;}
#replyform textarea{height: 100px; resize: none;}
.replylogin{background-color: #eee; margin: 10px 0; padding: 16px; text-align: center;}
.replylogin a{color: blue;}
.replylogin a:hover{text-decoration: underline;}

/* only */
.btn{float: right; margin: 0 10px;}
#DR{font-size: 0.5em; margin: 0px 2.5px ; border-radius: 50%; float: right;}
#search{margin-top: -20px; margin-left: 100px; text-align: center;}
#boardlist table tr td a{color: black;}
#boardlist table{padding: 20px; line-height: 1;}
#boardlist table tr #btitle{width: 400px;}
#boardlist div a i{color: black;}
#re{margin: 0 50px;}
#boardlist table thead, tbody{background-color: #FFF;}